/* Autor: Gabriel Saraiva
 * Arquivo de tema para o sistema. Apenas páginas de exibição na tela.
 * Temas para impressão devem ficar em outro arquivo.
 */

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

*{
	margin:0px;
	padding:0px;
	font-family: 'Oxygen', sans-serif;
}

p,label{
	color:#666;
	font-weight:900;
}
a{
	text-decoration: none;
	color:#49D;
	text-shadow: #DDD 0 1px 0px;
}
a:hover{
	text-decoration: underline;
}

input[type="text"]:hover,input[type="password"]:hover,select:hover,textarea:hover{
	border:#49D 1px solid;
}
input[type="text"]:active,input[type="password"]:active,select:active,textarea:active{
	background-color: #DDF;
}


#topo {
	margin:0;
	padding:10px 20px;
	background-color: #4C9ED9;
	border-bottom: #297AB5 1px solid;
	box-shadow: #55F 0px 0px 6px;
	margin-bottom:2em;
}

#topo a{
	text-decoration: none;
	color:#FFF;
	text-shadow:#00F 0 1px 1px;
	text-align: center;
	
}

#corpo{
	margin:0 1em;	
}
.painelHorizontal ul{
	display: table;
	width:100%;
}

.painelHorizontal ul li{
	display:table-cell;
}

.painelHorizontal a {
	display: block;
	text-align: center;
	font-weight: bolder;
	font-size:150%;
	text-decoration: none;

	color:#49D;
	padding:20px 5px;
}

.painelHorizontal a:hover{
	text-decoration: underline;
}

#titulo{
	font-size:2em;
	margin-bottom: 1em;
}


#titulo a{	
	text-decoration: none;
	font-weight: 900;
	
}
#titulo a:hover{
	text-decoration: underline;	
}

#titulo p.titulo{
	display:inline;
	font-weight: bolder;
	font-size:20px;
	padding: 0 0 0.5em 0;
	text-shadow: #DDD 0 1px 0px;
	font-size:1em;
}


.painel{
	font-size:1.5em;
	margin:1em 0;
}
.painel p{
	display:inline;
	
	font-weight: bolder;
}


highlight{
	border-color:#F00;
}

#login{
	border:1px solid #AAA;
	background-color: #EEE;
	padding:3em;
	margin:10% 20%;
	text-align: center;
	box-shadow:#AAA 0px 2px 8px;
}

#login input{
	width:60%;
}
#login label{
	width:20%;
	display:inline-block;
}

#login .botoesLogin{
	margin-top:1em;
	
}

input[type="text"], input[type="password"],select
{
	margin:5px;
	font-size:100%;
	padding:5px;
	border-radius:2px;
	border:#666 1px solid;
}

.listagem {
	margin:3em 0;
}


.listagem .titulo{
	font-size:120%;
	margin:0.5em 0;
}


table{
	border-collapse: collapse;
	width:100%;
	border:1px solid #AAA;

	padding:0;
}


#menu ul{
	list-style: none;
}
#menu ul li{
	padding:0.5em 0;
}

thead,tfoot{
	background-color:#AAA;
	font-weight: 900;
	color:#FFF;
	text-shadow: #666 0 1px 1px;
	
}

td{
	padding:5px 15px;
}

tbody tr:nth-child(odd){
	background-color: #FFF;
}
tbody tr:nth-child(even){
	background-color: #DDD;
}
tbody tr:hover{
	background-color: #CDF;
}

.barraBotoes{
	margin: 20px 0px 0px 0px;
}

button, input[type=submit], input[type=reset]{
	background-color:#49D;
	color:#FFF;
	font-weight:bold;
	text-shadow:#000 0px 1px 1px;
	padding:10px 15px;
	border-radius: 3px;
	border:#666 1px solid;
	box-shadow:	 #AAA 0px 2px 5px;
	margin:0px 1em 0px 0px;
}

button,button a, input[type=submit], input[type=reset]{
	text-decoration: none;
	font-weight: 900;
	color:#FFF;
}

button:hover,button:hover a, input[type=submit]:hover, input[type=reset]:hover{
	text-decoration: none;
	background-color:#05D;	
	
}


label{
	padding:0 10px 0 0;
}

.invisivel{
	display: none;
}


#sucesso .mensagem ,#erro .mensagem{
	margin:2em 0;
	padding:2em;
	font-size:130%;
}

#sucesso .mensagem{
	background-color:#AFA;
	border:#0A0 1px solid;
}
#erro .mensagem{
	background-color:#FAA;
	border:#A00 1px solid;
}

/* Formulário da parte de relatorio: */
#formulario_relatorios fieldset 
{
	width: auto;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
}

#container_formulario_relatorios 
{
	width: 100%;
	height: 200px;
}

#formulario_relatorios 
{
	margin: 0 auto;
	width: 950px;
}

#formulario_relatorios input[type="reset"] 
{
	margin-left: 12px;
	margin-top: 0px;
}

legend
{	
	margin: 0 auto;
}

legend h2, #titulo .titulo_estrangeiro
{	
	font-weight: bolder;
	color: #49D;
	text-shadow: #DDD 0 1px 0px;
}

td.data_tabela 
{
	padding-left: 0px;
	padding-right: 0px;
}

td.data_tabela_esquerda
{
	padding-left: 15px;
}

#container_formulario_estrangeiro table
{
	width: auto;
	margin: 0 auto;
	min-width: 600px;
	max-width: 900px;
	border: 4px solid #AAA;
}

td.coluna_1
{
	max-width: 215px;
}

td.tr_center, .center
{
	text-align: center;
}

#container_formulario_estrangeiro
{
	margin-bottom: 50px;
	margin-top: 20px;
}

#foto_form_estrangeiro
{
	background-color: #FFF !important;
	text-align: center;
}

#foto_form_estrangeiro img
{
	max-height: 150px;
	max-width: 215px;
}
