/* Autor: Gabriel Saraiva
 * Arquivo de tema para o sistema. Apenas páginas de exibição na tela.
 * Temas para impressão devem ficar em outro arquivo.
 */

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

*{
	margin:0px;
	padding:0px;
	font-family: 'Oxygen', sans-serif;
}

p,label{
	color:#666;
	font-weight:900;
}
a{
	text-decoration: none;
	color:#49D;
	text-shadow: #DDD 0 1px 0px;
}
a:hover{
	text-decoration: underline;
}

#topo {
	margin:0;
	padding:10px 20px;
	background-color: #4C9ED9;
	border-bottom: #297AB5 1px solid;
	box-shadow: #55F 0px 0px 6px;
	margin-bottom:2em;
}

#topo a{
	text-decoration: none;
	color:#FFF;
	text-shadow:#00F 0 1px 1px;
	text-align: center;
	
}

#corpo{
	margin:0 1em;	
}
.painelHorizontal ul{
	display: table;
	width:100%;
}

.painelHorizontal ul li{
	display:table-cell;
}

.painelHorizontal a {
	display: block;
	text-align: center;
	font-weight: bolder;
	font-size:150%;
	text-decoration: none;

	color:#49D;
	padding:20px 5px;
}

.painelHorizontal a:hover{
	text-decoration: underline;
}

#titulo{
	font-size:2em;
	margin-bottom: 1em;
}


#titulo a{	
	text-decoration: none;
	font-weight: 900;
	
}
#titulo a:hover{
	text-decoration: underline;	
}

#titulo p.titulo{
	display:inline;
	
	font-weight: bolder;
	font-size:20px;
	padding: 0 0 0.5em 0;
	text-shadow: #DDD 0 1px 0px;
	font-size:1em;
}


.painel{
	font-size:1.5em;
	margin:1em 0;
}
.painel p{
	display:inline;
	
	font-weight: bolder;
}


highlight{
	border-color:#F00;
}

input[type="text"], select
{
	margin:5px;
	font-size:100%;
	padding:5px;
	border-radius:2px;
	border:#666 1px solid;
}


table{
	border-collapse: collapse;
	width:100%;
	border:1px solid #AAA;

	padding:0;
}

thead,tfoot{
	background-color:#AAA;
	font-weight: 900;
	color:#FFF;
	text-shadow: #666 0 1px 1px;
	
}

td{
	padding:5px 15px;
}

tbody tr:nth-child(odd){
	background-color: #FFF;
}
tbody tr:nth-child(even){
	background-color: #DDD;
}
tbody tr:hover{
	background-color: #CDF;
}

.barraBotoes{
	margin: 20px 0px 0px 0px;
}

button{
	background-color:#49D;
	color:#FFF;
	font-weight:bold;
	text-shadow:#000 0px 1px 1px;
	padding:10px 15px;
	border-radius: 3px;
	border:#666 1px solid;
	box-shadow:	 #AAA 0px 2px 5px;
	margin:0px 1em 0px 0px;
}

button,button a{
		text-decoration: none;
		font-weight: 900;
		color:#FFF;
}

button:hover,button:hover a{
	text-decoration: none;
	background-color:#00F;	
	text-shadow:#DDD 0px 1px 1px;
}


label{
	padding:0 10px 0 0;
}

.invisivel{
	display: none;
}


#sucesso .mensagem ,#erro .mensagem{
	margin:2em 0;
	padding:2em;
	font-size:130%;
}

#sucesso .mensagem{
	background-color:#AFA;
	border:#0A0 1px solid;
}
#erro .mensagem{
	background-color:#FAA;
	border:#A00 1px solid;
}